<launch>

	<group ns="dual_panda">
		<remap from="/robot_description" to="robot_description" />
		<node pkg="giskardpy" type="giskard.py" name="giskard_1" output="screen">
			<param name="config" value="DualPanda1" />
		</node>
		<node pkg="giskardpy" type="giskard.py" name="giskard_2" output="screen">
			<param name="config" value="DualPanda2" />
		</node>

	</group>

</launch>